language: python
sudo: false

matrix:
  include:
  - arch: arm64
    python: 2.7
  - arch: amd64
    python: 2.7
  - arch: arm64
    python: 3.4
  - arch: amd64
    python: 3.4
  - arch: arm64
    python: 3.5
  - arch: amd64
    python: 3.5
  - arch: arm64
    python: 3.6
  - arch: amd64
    python: 3.6
  - arch: arm64
    python: 3.7
  - arch: amd64
    python: 3.7
  - arch: arm64
    python: 3.8
  - arch: amd64
    python: 3.8

install: python setup.py build_ext -i

script: python run-tests.py
