include AUTHORS
include LICENSE
include LICENSE.PSF
include MANIFEST.in
include README.rst
include NEWS
include greenlet.c
include greenlet.h
include slp_platformselect.h
include setup.py
include tox.ini
recursive-include benchmarks *
recursive-include doc *
recursive-include platform *.h
recursive-include tests *.py *.c *.cpp
